---
---
/* Imports */
@import "{{ site.theme }}";

/* Media */
@media (max-width: 768px) {
  .project-content {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .content-row {
    flex-direction: column;
  }
  
  .tech-card {
    //display: flex; 
    flex-direction: column;
    gap: 20px; 
    width: 100%;
    max-width: 100%;
    align-items: stretch;
  }

  .tech-text, 
  .tech-image {   
    flex: none; 
    width: 100%;   
    max-width: 100%;  
  }

  .tech-image img {
    width: 100%;          
    height: auto;         
    display: block;     
  }
}

/* Global Overrides */
p.view, small, .tags, .date{
  display: none;
}

/* Project Container (Homepage) */
.project-container {
  position: relative;
  width: 100%; 
  max-width: 1100px;
  margin: 20px auto;  
  overflow: hidden; 
  padding: 5px;
}

.project-container img {
  border: 5px solid #555555;
  display: block;
  width: 100%;
  height: auto;  
  transition: transform 0.3s ease, border-radius 0.3s ease;
  box-sizing: border-box;
  object-fit: cover;  
}

.project-container img:hover {
  transform: scale(1.05); 
  border-radius: 10px; 
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.6);
  padding: 12px;
  box-sizing: border-box;
  pointer-events: none;
  text-align: center;
}

/* Project Pay Layout */
.project-content {
  margin-top: 40px; 
  margin-bottom: 60px;
  padding: 0 20px;
  text-align: justify;
}

/* Project Gallery Slides */
.project-gallery {
  position: relative;
}

.project-gallery img {
  margin-bottom: 10px;
}

.project-gallery img:hover {
  transform: none;
}

.project-gallery iframe {
  width: 100%;
  max-width: 560px;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
  margin: 0 auto 20px;
}

.slide {
  display: flex;     
  justify-content: center;  
  align-items: center;      
  margin-bottom: 20px;    
  min-height: 315px;    
}

.slide img,
.slide iframe {
  width: 100%;
  max-width: 560px;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
  margin: 0 auto 20px;
}

/* Gallery Navigation */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  background-color: #b5e853;
  color: #151515;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.caption-containerSlide {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.video-thumb {
  position: relative;
}

.video-thumb::after{
  content: "▶";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  background-color: red;
  padding: 4px 16px;
  border-radius: 8px;
  pointer-events: none;
}

/* Thumbnails */
.thumbnail-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnail-column {
  width: 25%;
}

.thumb-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* Tech Cards Containter */
.tech-section {
  max-width: 1100px;
  margin: 80px auto;
  padding: 20px;
}

.tech-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 60px;
  color: #b5e853;
  letter-spacing: 1px;
}

/* Tech Cards */
.tech-card {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
  //flex-wrap: wrap;
}

.tech-card:nth-child(even) {
  flex-direction: row-reverse;
}

/* Tech Cards Text */
.tech-text {
  flex: 1 1 60%;
  min-width: 0; 
}

/* Tech Cards Image */
.tech-image {
  flex: 1 1 40%;
  min-width: 0; 
}

.tech-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;;
}

/* For Code */
.tech-code {
  width: 100%; 
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
}

.tech-code pre {
  background-color: #1e1e1e;
  color: #b5e853;
  padding: 12px;
  border-radius: 8px;
  border: none;
  box-shadow: none;
  font-family: monospace;
  margin-bottom: 10px;
  white-space: pre;   
  overflow: inherit; 
}

/* Top Buttons */
.btn.home-button {
  position: fixed;    /* Stays at top on all pages */
  top: 20px;          /* Distance from top of viewport */
  left: 20px;         /* Distance from left edge */
  text-decoration: none;
  background-color: #b5e853;
  color: #151515;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.2s;
  z-index: 1000;      /* Makes sure it stays above everything */
}

.btn.home-button:hover {
  background-color: #99d23c;
}